/*styles for resume */

body {
  font-family: 'Open Sans',arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
}
/*styles for container */
#container{
  width: 100%;
  max-width: 1200px;
  padding-bottom: 50px;
  margin: 0 auto;
}

/*name at top */
#name {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #33485e;
  font-size: 3em;
  text-transform:uppercase;
  text-align: center;
  color: #33485e;
}
/*my title */
strong {
  font-size:1.5em;
  text-transform:uppercase;
  color:#33485e
}
/*experience */
.sectionheader {
  margin-top: 20px;
  margin-bottom:10px;
  margin-left:0;
  margin-right:0;
  width: 70%;
  min-width: 300px;
  font-size: 1.5em;
  text-transform: uppercase;
  color:#fff;
  background-color: #33485e;
  padding-left: 10px;
  font-weight: 300;
}
/*job title */
.jobtitle {
  font-weight: 600;
  font-size:1.5em;
}
/*company name */
.organization {
  font-size: 1.25em;
  font-weight: lighter;
}
/* job dates */
.date {
  margin: 2px 0px 0px 0px;
  font-style: italic;
  font-size: 1em;
  font-weight:lighter;
}
/*contact info, skills, education */
li {
  font-size: 1em;
}

#headline {
  font-size: 18px;
  color: blue;
}
/*i added a style.css for the description in the paragraph elements */
.description {
margin: 10px 0px 10px 0px;
font-weight: lighter;
}

.menu {
  margin: 0px;
  align-items: center;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.menu li {
  display: inline;
}

#degrees {
  margin-top: 5px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left: 0px;
}

#do {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#title {
  font-weight: 600;
  align-items: center;
  margin-top: 20px 0px 0px 0px;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: left;
}

.toptitle {
  text-align: center;
  margin-bottom: 0px;
}
